name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: latest
      - run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
              sudo apt-get update -y
              sudo apt-get install -y libasound2t64 libasound2-dev
          fi
        shell: bash
      - run: |
           if [ "$RUNNER_OS" == "Linux" ]; then
               zig build -Dstatic=true
           else
               zig build -Dstatic=true && zig build test -Dstatic=true
           fi
        shell: bash
  check-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: latest
      - run: zig fmt --check .
